.Provisional{
    display: flex;
    flex-wrap: wrap;
}

.Provisional .option{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    color: var(--text-h);
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    box-sizing: border-box;
    flex: 1 1 250px; /* grow, shrink, basis */
    min-width: 250px;
    transition: font-size 0.2s ease;
}

.Provisional .option:hover{font-size: 2.2rem;}
.Provisional .option:active{font-size: 2.1rem; transform: none;}

.Provisional .option.prosecute{background-color: rgb(206, 63, 63);}
.Provisional .option.defend{background-color: rgb(108, 204, 172);}
