.JuryAssignments .table-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 520px;
    margin: 0 auto;
    align-self: stretch;
    
    background-color: var(--card-bg);
    padding: 0.7rem 1.5rem;
    border-radius: 10px;
    border: 1px solid var(--card-border);
    box-shadow: var(--shadow-small);

    @media screen and (min-width:576px) {
        padding: 1.5rem 3rem;
    }
}

.JuryAssignments .table-container table{
    width: 100%;
}

.JuryAssignments tbody tr:hover {
    background-color: var(--dim-bg);
    cursor: pointer;
}

.JuryAssignments .view-ballot-link {
    display: block;
    text-decoration: none;
    transform: scaleX(-1);
}

.JuryAssignments .view-ballot-link:hover {
    text-decoration: underline;
}