.UserCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.UserCard .user-icon{
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 3px solid var(--text);
    border-radius: 50%;
    width: 6rem;
}

.UserCard .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.35rem;
}

.UserCard .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.35rem;
}

.UserCard .username{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-h);
    transform: translateY(-0.1em);
}

.UserCard .flair{
    font-size: 0.8rem;
    border: 1px solid;
    border-radius: 999px;
    padding: 1px 0.6em;
}

.UserCard .bio{
    font-size: .9rem;
    max-width: 30rem;
}

.UserCard .joined{
    color: var(--text-dim);
    font-size: 0.8rem;
}

.UserCard .edit-profile {
    display: inline-block;
    width: fit-content;
    font-size: 0.8em;
    /* transform: scaleX(-1); */
    padding: 3px 0.8em;
    margin: 0.4rem 0;
    border: 1px solid var(--border);
    border-radius: 8px;
    color: var(--text-h);
    text-decoration: none;
}

.UserCard .edit-profile:hover {
    background: var(--accent);
    border-color: var(--accent);
    color: var(--text-on-accent);
}

@media screen and (min-width:576px){
    .UserCard {
        flex-direction: row;
    }
    
    .UserCard .user-icon{
        width: 8rem;
    }
    .UserCard .text{
        align-items: flex-start;
    }
    .UserCard .main{
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.7rem;
    }
    .UserCard .username{
        font-size: 1.6rem;
    }
}


