.EvidenceCard{
    border: 1px solid var(--card-border);
    border-radius: 10px;
    box-shadow: var(--shadow-small);
    background-color: var(--card-bg);

    padding: 0.6rem 1rem;
    padding-bottom: 0.3rem;
    box-sizing: border-box;
    width: 100%;
    position: relative;

    @media screen and (min-width:576px) {
        padding: 0.8rem 1.2rem;
        padding-bottom: 0.4rem;
    }
}

.EvidenceCard .ev-number {
    position: absolute;
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.5rem 0.8rem;
    top: 0;
    right: 0;
}

.EvidenceCard .content{
    margin: 0.2rem 0;
}

.EvidenceCard .footer {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-top: 0.6rem;
}

.EvidenceCard .date {
    color: var(--text-dim);
    font-size: 0.8em;
}

/* text area */
.EvidenceCard .edit-area{
    display: flex;
    flex-direction: column;
}
.EvidenceCard textarea {
    box-sizing: border-box;
    width: 100%;
    resize: vertical;
    min-height: 4rem;
    padding: 0.4rem 0.6rem;
}



/* edit actions */
.EvidenceCard .edit-actions {
    display: flex;
    gap: 0.6rem;
}
.EvidenceCard .edit-actions button {
    border: none;
    background-color: var(--dim-bg);
    border: 1px solid transparent;
    padding: 0.2rem 0.6rem;
    color: var(--text);
}

.EvidenceCard .edit-actions button:hover {
    border: 1px solid var(--border);

}