.ToastMessage {
    position: fixed;
    top: 0;
    margin: 1rem auto;
    border-radius: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    z-index: 100000;
    padding: 1rem;
    box-shadow: var(--shadow);
    
    transition: all 0.2s ease;
}
.ToastMessage.success {background-color: rgb(157, 190, 81); color: rgba(0, 0, 0, 0.685);}
.ToastMessage.warning {background-color: rgb(248, 248, 81); color: rgba(0, 0, 0, 0.685);}
.ToastMessage.error {background-color: rgb(190, 81, 81); color: rgba(0, 0, 0, 0.685);}

.ToastMessage.hidden{
    top: -10rem;
}
.ToastMessage .message {
    text-align: center;
}

.ToastMessage button.dismiss {
    position: absolute;
    right: 0;
    flex-grow: 0;

    background-color: transparent;
    color: var(black);
    font-size: 1rem;
    /* border: 1px solid black; */
}
button.dismiss:hover{
    transform: scale(1.2);
}

